@font-face {
    font-family: 'Ostrich';
    src: url('../font/ostrich-sans/OstrichSansInline-Regular.otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: green;
    font-family: 'Ostrich';
    background: url('../img/cat.png') no-repeat fixed center;
}